strong{
   color: aliceblue;
}
.about-link{
   position: absolute;
   right: 263px;
}
.mynavbar-list-items{
   position: absolute;

}
.show-pannel{
   background-color: #F7EFE5;
   height: 550px;
}
.front-image{
   border-radius: 7%;
   position: absolute;
   top: 117px;
   left: 606px;
   width: 640px;
   height: 430px;
}
.website-name-text{
   font-family: 'Cabin', sans-serif;
   line-height: 1px;
   position: absolute;
   left: 25px;
   top: 217px;
   font-size: 77px;
}
.website-name-text {
    font-family: 'Cabin', sans-serif;
}
.search-button {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 0px;
  text-align: center;
  transition: 200ms;
  width: 57%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.welcome-text{
   font-family: 'Merriweather', serif;
   position: absolute;
   left: 25px;
   top: 150px;
   font-size: 43px;
   line-height: 1.50px;
}
.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
.front-paragraph{
   font-family: 'Quicksand', sans-serif;
   position: absolute;
   top: 281px;
   left: 33px;
   font-size: 31px;
   line-height: 58px;
}
.topics{
   background-color: #F7EFE5 ;
   height: 800px;
}
.spring-logo{
   width: 171px;
   position: absolute;
   top: 38px;
   left: 94px;

}
.paragraph-links{
   color: black;
   font-family: 'Quicksand', sans-serif;
   text-decoration: none;
   font-size: 23px;
   position: absolute;
   top: 80px;
   left: 302px;
}
.first-topic{
   background-color: rgb(243, 230, 211);
   margin-left: 45px;
   margin-right: 45px;
   border-radius: 10%;
   border-color: #C3ACD0;
}
.link-headings{
   color: black;
    text-decoration: none;
    font-size: 31px;
    position: absolute;
    left: 317px;
    top: 18px;
}
.first-div{
   background-color:#F7EFE5;
   height: 247px;
   border-radius: 22%;
   position: relative;
   background-color: #FFFBF5;
   margin-left: 70px;
   margin-right: 70px;
   border: solid #C3ACD0;
   font-family: 'Merriweather', serif;
   text-decoration: none;

}